<!doctype html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div>
    <div class="header">
        <div class="container">
            <h1><a href="/">내차결함</a></h1>
        </div>
    </div>

    <div class="body-wrapper">
    {% block "body" %}
    {% endblock %}
    </div>

    <div class="footer">
        <p>ⓒ뉴스타파 x Null채움. All Rights Reserved.</p>
    </div>
</div>
</body>
<script src="{% static 'script.js' %}"></script> 
</html>