<!doctype html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div>
    <div class="header">
        <div class="container">
            <h1><a href="/">내차결함</a></h1>
        </div>
    </div>

    <div class="body-wrapper">
    {% block "body" %}
    {% endblock %}
    </div>

    <div class="footer">
        <p>
            <a href="https://newstapa.org/" alt="뉴스타파 사이트 바로가기">ⓒ <img src="./static/img/newta-logo-01.svg"></a> x <a href="https://github.com/NullFull/safercar" alt="Null채움. 바로가기"><img src="./static/img/null-logo-01.svg"></a> All Rights Reserved.

            <a href="">제작의도
                후원금으로 크림짬뽕 100그릇 먹고 싶어서 만들었어요.
            </a>
        </p>
    </div>
</div>
</body>
<script src="{% static 'script.js' %}"></script> 
</html>