{% extends "_base.html" %}

{% load static %}

{% block "body" %}
<div>
    <div class="container">
        {% include "components/searchbar.html" %}
    </div>
    <div class="info">
        <div class="container">
            <div class="image">
                <img src="{% static 'cars/' %}{{ car.code}}-600x.png">
            </div>
            <div>
                <h2 class="maker">{{ car.maker.name }}</h2>
                <h1 class="name">{{ car.name }}</h1>
                <p class="date">{{ car.make_start|date:'Y.m' }} - {{ car.make_end|date:'Y.m' }}</p>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-tabs">
                {% for kind, value in stats.items %}
                {% if value.value == 0 %}
                <li class="navbar-tab no-value" id="{{ value.code }}">{{ kind }}
                    <div class="value">{{ value.value }}</div>
                </li>
                {% else %}
                <li class="navbar-tab" id="{{ value.code }}">{{ kind }}
                    <div class="value">{{ value.value }}</div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="defects">
            <ul>
            {% for defect in defects %}
                <li class="defect {{ defect.kind }}">
                    <h3>[{{ defect.get_kind_display }}] {{ defect.part_name }}</h3>
                    <p>{{ defect.solution }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}