{% extends "_base.html" %}

{% block "body" %}
<div>
    <div>
        {% include "components/searchbar.html" %}
    </div>
    <div class="info">
        <div>
            <h1>{{ car.maker.name }} {{ car.name }}</h1>
            <p>{{ car.make_start|date:'Y.m' }} - {{ car.make_end|date:'Y.m' }}</p>
        </div>
    </div>
    <div class="stats">
        <dl>
            {% for kind, value in stats.items %}
            <dt>{{ kind }}</dt>
            <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    </div>

    <div class="defects">
        <ul>
        {% for defect in defects %}
            <li>
                <h3>[{{ defect.get_kind_display }}] {{ defect.part_name }}</h3>
                <p>{{ defect.solution }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}