{% extends "_base.html" %}

{% block "body" %}
<div class="index">
    <div class="lead">
        <div class="container">
            <p class="page-title">내 차 결함정보가 궁금하세요?</p>
            <p>리콜? 무상수리? 뭐가 다르죠?</p>
            <p>리콜은 자동차에 치명적인 결함이 있는 경우 정부차원에서 모든 소유주에게 연락하여 수리를 받도록 규정하고 있지만,
                무상수리는 대상자에게 알릴 의무가 없어 소유자가 모른 채 진행되기도 하죠.
                이로 인해 사고가 발생하는 경우도 있습니다.
            </p>

            <p>&lt;내차 결함&gt; 은 국토부, 환경부, 소비자원 등 곳곳에 흝어져 있는 결함 정보를 한번에 찾아볼 수 있도록 제공합니다.</p>
            <div class="links">
                <ul>
                    <li><a href="https://newstapa.org/37792">관련 기사 보기</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="container">
            <div>
                <h3><p>내 차에도 결함이?</p>
                    <p>여러분들의 차를 검색해보세요</p></h3>
                {% include "components/searchbar.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}