{% extends "_base.html" %}

{% block "body" %}
<div>
    <div>
        <p>
            자동차 결함 정보는 크게 리콜과 무상수리로 나뉩니다.
        </p>
        <p>
            안전상 극심한 결함의 경우 정부차원에서 리콜을 진행하지만 대다수의 경우 무상수리 대상으로 선정합니니다.
        </p>
        <p>
            대충 넘어갑니다.
        </p>
    </div>
    <div>
        <h3>FAQ</h3>
        <ul>
            <li><a href="">리콜과 무상수리의 차이점</a></li>
            <li><a href="">관련된 기사의 제목</a></li>
        </ul>
    </div>
    {% include "components/searchbar.html" %}
</div>
{% endblock %}
