{% extends "_base.html" %}

{% block "body" %}
<div class="index">
    <div class="lead">
        <div class="container">
            <h2>여러분의 차는<br/> 안전합니까?</h2>
            <p>심각한 결함이 있는 리콜 대상 차들 가운데 약 110만대(11~17년 리콜 기준)가 아직까지 수리를 받지 않았습니다. 브레이크, 에어백 등 주요 부품의 결함을 모른다면 시한폭탄을 안고 달리는 셈입니다. &lt;내차결함포털&gt;은 결함을 몰라서 사고를 당하는 일이 없도록, 곳곳에 숨겨진 결함 정보를 한곳에 모아 보여드립니다.</p>
            <div class="links">
                <ul>
                    <li><a href="https://newstapa.org/43624">관련 기사 보기</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cta">
        <div class="container">
            <h3>내 차의 결함 찾아보기</h3>
            {% include "components/searchbar.html" %}
        </div>
    </div>
</div>
{% endblock %}