{% extends "_base.html" %}

{% load static %}

{% block "body" %}
<div class="search">
    <div class="container">
        <div>
            {% include "components/searchbar.html" %}
        </div>
        <div class="results">
            <ul>
            {% for car in cars %}
                <li>
                    <a href="{{ car.maker.name }}/{{ car.simple_name }}-{{ car.year }}-{{ car.code }}">
                        <div class="thumbnail" style="background-image: url('{% static 'cars/' %}{{ car.code }}-200x.png')"></div>
                        <div>
                            <div class="maker">{{ car.maker.name }}</div>
                            <div class="name">{{ car.name }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
