{% extends "_base.html" %} 
{% load static %} 
{% block "additional_header" %}
<link rel="stylesheet" href="{% static 'content.css' %}">
<style>
	/* ------ HEADER ------ */
	.carticle .post-header {
		text-align: center;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	
	.carticle h1 {
		font-size: 180%;
		margin: 10px 0 3px 0;
	}
	
	.carticle .post-header span {
		border-bottom: 1px solid #222;
		padding-bottom: 2px;
	}
	
	.carticle .post-header .byline {
		font-size: 80%;
		border-bottom: 0;
		color: #2868CF;
		letter-spacing: 0.3px;
	}
	/* ------AUTHOR ------ */
	
	.post-author {
		text-align: left;
		background: #FBFBFC;
		border: 1px solid #E5E5E5;
		padding: 21px 25px 20px;
	}
	
	.sblank {
		padding-bottom: 40px;
	}
	
	.post-author .sticker {
		width: 190px;
		float: right;
		margin: 0 0 15px 15px;
	}
	
	.post-author2 {
		text-align: center;
		background: #FBFBFC;
		border: 1px solid #E5E5E5;
		padding: 21px 25px 20px;
	}
	
	.post-author2 p {
		margin-top: 10px;
		line-height: 150%;
		color: #666;
	}
	
	.post-author2 .sticker-center {
		margin: 0 0 10px 0;
	}
	
	.post-author p {
		margin-top: 10px;
		line-height: 150%;
		color: #666;
	}
	/* ------ QUOTE ------ */
	
	.carticle blockquote {
		text-align: center;
		font-size: 90%;
		font-weight: 600;
		position: relative;
		padding: 25px 14px 0;
		line-height: 180%;
		margin: 30px auto;
	}
	
	.carticle blockquote:before {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		width: 15px;
		height: 14px;
		margin-left: -7px;
		background: url({% static 'carticle/img_quote.png' %}) no-repeat;
		content: '';
	}
	
	.carticle .blockquote_type2 {
		border-color: #acacac;
		border-width: 0 0 0 2px;
		border-style: solid;
		padding: 1px 0 0 12px;
		color: #666;
		line-height: 18pt;
		text-align: left;
		margin: 30px 0;
		font-size: 90%;
	}
	
	mark {
		background-color: #f1c40f;
		color: black;
	}
	/* ------ ARTICLE ------ */
	
	.carticle .article {
		border: 0;
	}
	
	.carticle section {
		padding: 0 30px 50px 30px;
		overflow: hidden;
	}
	
	.carticle .article-link {
		font-size: 100%;
		color: #2868CF;
		text-decoration: underline;
	}
	
	.article .ranking {
		text-align: center;
		font-weight: 500;
	}
	
	.article .ranking span {
		display: block;
		margin: 15px 0 5px 0;
	}
	
	.article .ranking strong {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		padding: 5px 0;
		display: inline-block;
		font-size: 150%;
		margin-top: 60px;
	}
	
	.article .ranking .car-name {
		font-size: 150%;
		margin: 5px 0 30px 0;
		font-weight: 600;
	}
	
	.article .ranking .car-name-sm {
		font-size: 120%;
	}
	
	.article .recall-list {
		font-size: 95%;
		line-height: 180%;
	}
	
	.article .notice {
		font-size: 90%;
	}
	
	.ac-tit {
		font-size: 130%;
		text-align: center;
		font-weight: 600;
		margin-top: 60px;
	}
	
	.ac-tit img {
		margin-top: 10px;
	}
	
	.ac-list {
		line-height: 180%;
	}
	
	.mystery {
		font-size: 90%;
		line-height: 150%;
	}
	
	.mystery .my-tit {
		font-size: 120%;
		text-align: center;
		margin-bottom: 20px;
		font-weight: 600;
	}
	
	.mystery .my-tit span {
		font-size: 85%;
	}
	
	.my-list {
		border: 1px dashed #bfbfbf;
		padding: 20px;
		background: #f4f4f4;
	}
	
	.my-list li {
		padding: 5px 0;
	}
	/* ------ BUTTON ------ */
	
	.carticle .btn:link,
	.carticle .btn:visited {
		display: inline-block;
		padding: 10px 60px;
		font-weight: 400;
		text-decoration: none;
		border-radius: 200px;
		font-size: 110%;
		letter-spacing: 0.02em;
	}
	
	.carticle .btn-tips:link,
	.carticle .btn-tips:visited {
		border: 1px solid #0E8BE4;
		color: #0E8BE4;
	}
	
	.carticle .action {
		text-align: center;
	}
	
	/* ------ TABLE ------ */
	
	.tb-list {
		border-spacing: 0;
		color: #888;
		border-bottom: 1px solid #ccc;
	}
	
	.tb-list th {
		border-top: 1px solid #ccc;
		color: #888;
		display: table-cell;
		font-weight: 400;
		text-align: left;
		padding: 8px 13px;
      
}
	.tb-list td {
		border-top: 1px solid rgba(0,0,0,.06);
		border-left: 0 none;
		border-right: 0 none;
		display: table-cell;
		vertical-align: top;
		padding: 8px 13px;
}
	
	.tb-list td {
    color: #266d90;
    font-size: 95%;
}
	
	.tb-list  td+td {
    color: #bf2a5c;
    font-size: 90%;
}
	
	.tb-list td+td+td {
    color: #666;
}
	
	
	
	/* ------ PATTERN ------ */
	
	.start {
		background: url({% static 'carticle/line-type2.png' %}) no-repeat;
		background-position: 50% 50%;
		height: 18px;
		margin: 50px 0 30px 0;
	}
	
	.line {
		background: url({% static 'carticle/line-type3.png' %}) no-repeat;
		background-position: 50% 50%;
		height: 18px;
		margin: 30px 0 10px 0;
	}
	
	.line2 {
		background: url({% static 'carticle/line-type4.png' %}) no-repeat;
		background-position: 50% 50%;
		height: 30px;
		margin: 30px 0 10px 0;
	}
	
	.finish {
		background: url({% static 'carticle/line-type.png' %}) no-repeat;
		background-position: 50% 50%;
		height: 18px;
		margin: 50px 0 30px 0;
	}
	
	@media only screen and (max-width:640px) {
		.carticle section {
			padding: 50px 0px;
		}
		.post-author {
			text-align: center;
		}
		.post-author .sticker {
			float: none;
		}
		.carticle .btn:link,
		.carticle .btn:visited {
			padding: 8px 30px;
			font-size: 90%;
		}
		br {
			display: none;
		}
		
		.tb-list {font-size: 90%;}
	}
</style> 
{% endblock %} 
{% block "ogp" %}
<meta property="og:title" content="차쓸신잡(5) 급발진 1탄 : 급발진 의심사고가 가장 많았던 차는?" />
<meta property="og:site_name" content="내 차 결함정보 포털" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://checkyourcar.newstapa.org/articles/5" />
<meta property="og:image" content="{% static 'carticle/car/image5-1.png' %}" />
<meta property="og:description" content="급발진 의심 사고가 가장 많은 차종은 무엇일까요? '차쓸신잡'에서 2000년부터 18년 동안 정부에 신고된 급발진 의심 사고 신고내역 1천여 건을 분석했습니다. 먼저 가장 신고건수가 많은 3대 차종과 10만대당 신고건수가 많은 제작사 3곳입니다." />
{% endblock %}
{% block "body" %}
<div class="carticle con-wrap">
	<div class="container">
		<div class="con-box">
			<!-- POST HEADER -->
			<div class="post-header"> <span>차쓸신잡5</span>
				<h1>급발진 1탄 : 급발진 의심사고가 가장 많았던 차는?</h1>
				<span class="byline">정재원&#183;2018.03.09 20:06</span>
			</div>
			<!-- AUTHOR -->
			<div class="post-author"> <img class="sticker" src="{% static 'carticle/sticon-05.png' %}">
				<p>안녕하세요. 뉴스타파에서 몇 년째 차 분야 한길을 파고 있는 차파 정재원 선생입니다.<img class="emoji" src="{% static 'img/emoji/folded-hands.png' %}">
				여러분, 자동차 급발진만큼 아이러니한 말이 또 있을까요? 수많은 사람이 겪었다고 주장하지만 제작사도 정부도 단연코 급발진은 없다는 입장이라는 거, 알고 계시죠.<br><br>
				얄궂게도 소비자들 앞에서는 나타났다가 제작사나 정부가 조사하려면 싹 사라지는 (쓸데없이) 신출귀몰한 도사 같습니다.<img class="emoji" src="{% static 'img/emoji/monkey.png' %}">
				공식적으로는 사람들의 ‘착각’ 속에만 있는 급발진. 그렇다면 수많은 사람이 ‘착각’으로 겪은 급발진은 구체적으로 어떤 모습일까요?<br><br>뉴스타파 &#60;내차결함포털&#62;제작진은 지난 18년간(2000년 1월 1일 ~ 2017년 12월 31일) 정부(국토교통부와 한국소비자원)에 직접 접수된 급발진 의심사고 신고 내역 전체를 입수했습니다. 이 내용을 차쓸신잡 5편과 6편 두 번에 걸쳐 최초 공개합니다. 
					</p>
			</div>
			<!-- ARTICLE -->
			<section class="article">
				<div class="line2"></div>
				<p class="article-txt">정부에서는 한 해 급발진 의심 사고가 몇 건쯤 일어난다는 두루뭉술한 정보는 공개하지만, 구체적으로 사고 건별로 차종이 무엇이고 제작사는 어디인지 등 자세한 정보는 공개하지 않습니다. 급발진이란 세상에 없다는 입장이니 아무래도 사고의 신고 내역조차 민감한 정보일 수밖에 없겠죠.</p>
				<p class="article-txt">하지만 뉴스타파 제작진은 더불어민주당 황희 의원실의 도움을 얻어 자료를 구할 수 있었습니다. 그리고 이렇게 구한 자료 전체를 공개하기로 했습니다. 2000년 1월 1일부터 2017년 12월 31일까지, 18년 동안 정부(국토교통부, 한국소비자원)에 신고된 급발진 의심 사고 신고 내역 약 1천여 건입니다.</p>
				<p class="article-txt">이 자료들을 공개하는 이유는, 특정 차종에 급발진 의심 사고가 얼마나 일어나는지 알리는 것만으로도 급발진 현상에 대해 다시 한번 사회적 관심을 불러일으킬 수 있다고 생각하기 때문입니다. 그리고 이를 통해 제작사가 좀 더 안전한 차를 제작하고, 급발진 의심 현상에 대해 좀 더 책임 있는 대처를 하는 계기가 되었으면 하고 바라는 마음 때문입니다.</p>
				
				
				<div class="ranking">
					<img src="{% static 'carticle/car/image5-1.png' %}" alt="2016년 고양시에서 일어난 급발진 의심사고 블랙박스 영상">
				</div>
				<figcaption class="txt-caption">2016년 고양시에서 일어난 급발진 의심사고 블랙박스 영상</figcaption>
				
				<div class="start"></div>
				<p class="article-txt">
					그럼 이제 데이터 탐험을 떠나볼까요?
					오늘 차쓸신잡에서는 1천여 건의 급발진 사고 기록에서 뽑아낼 수 있는 흥미로운 이야기를 몇 가지 소개해드리려 합니다.
					단순하게 급발진 사고 건수가 많았던 차를 살펴보는 것은 의미가 없습니다.많이 팔린 차라면 사고 횟수도 많을 테니까요. 
					그래서 먼저 10만 대당 발생 건수가 많은 제작사와 차종을 꼽아봤습니다.  
				</p>
				<div class="blockquote_type2"> 
							건별 데이터들은 모두 내차결함포털에서 찾아볼 수 있습니다. <br>
							등록 차량 대수, 사고 건수는 2017년 12월 31일 기준입니다.<br>
							사고 건수가 적은 차종은 (20건 이하) 제외했습니다. <br>

				</div>
				
				<div class="ac-tit">10만 대당 급발진 의심 사고가 가장 많은 차종 3가지</div>
				<div class="ranking">
					<strong>르노삼성 SM3</strong>
					<img src="{% static 'carticle/car/image5-2.png' %}" alt="르노삼성 SM3">
					<span class="ac-list">
						- 10만 대당 급발진 의심사고 : 14.2건<br>
						- 등록대수 : 351,877대<br>
						- 사고건수 : 50건
					</span>
				</div>
				
				<div class="ranking">
					<strong>르노삼성 SM5</strong>
					<img src="{% static 'carticle/car/image5-3.png' %}" alt="르노삼성 SM5" style="display: block;  margin: 0 auto">
					<span class="ac-list">
						- 10만 대당 급발진 의심사고 : 14.2건<br>
						- 등록대수 : 351,877대<br>
						- 사고건수 : 50건
					</span>
				</div>
				<div class="ranking">
					<strong>현대 쏘나타</strong>
					<img src="{% static 'carticle/car/image5-4.png' %}" alt="르노삼성 SM3">
					<span class="ac-list">
						- 10만 대당 급발진 의심사고 : 8.4건<br>
						- 등록대수 : 1,578,714대<br>
						- 사고건수 : 132건
					</span>
				</div>
				<br>
				<br>
				<br>
				<p class="article-txt">3위까지 살펴봤고요, 현대차 그랜저(10만 대당 6.3건), 기아차 쏘렌토(10만 대당 5.0건)가 뒤를 이었습니다. 건수로 보자면 132건으로 가장 많은 쏘나타가 비율로 보니 3위입니다. 언론에 급발진 사고가 가장 많이 보도된 차종이 쏘나타인데, 보도량이 많았다고 해서 더 위험한 차라고 볼 수는 없겠죠?
				</p>
				<p class="article-txt">다음은 지난 18년 간 급발진 의심 사고가 많이 일어난 자동차 제작사를 알아보겠습니다.</p>
				
				
				<div class="ac-tit">10만대당 급발진 의심 사고 발생 건수가 가장 많은 제작사 3곳</div>
				<div class="ranking">
					<strong>토요타(TOYOTA)</strong>
					<img src="{% static 'carticle/car/image5-5.png' %}" alt="토요타(TOYOTA)">
					<span class="ac-list">
						- 10만 대당 급발진 의심사고 : 12.4건<br>
						- 국내 등록대수 : 168,721대<br>
						- 국내 사고건수 : 21건
					</span>
				</div>
				
				<div class="ranking">
					<strong>르노삼성</strong>
					<img src="{% static 'carticle/car/image5-6.jpg' %}" alt="르노삼성">
					<span class="ac-list">
						- 10만 대당 급발진 의심사고 : 10.7건<br>
						- 국내 등록대수 : 1,503,853대<br>
						- 국내 사고건수 : 161건
					</span>
				</div>	
				
				
				<div class="ranking">
					<strong>BMW</strong>
					<img src="{% static 'carticle/car/image5-7.jpg' %}" alt="BMW">
					<span class="ac-list">
						- 10만 대당 급발진 의심사고 : 9.5건<br>
						- 국내 등록대수 : 357,272대<br>
						-국내 사고건수 : 34건
					</span>
				</div>
			
				
				
				<div class="finish"></div>
				<p class="article-txt">전통의 명차로 불리는 브랜드도 급발진 발생 건수에서는 국내차와 큰 차이가 없다는 사실을 데이터를 통해 알 수 있었습니다.</p>
				<p class="article-txt">대부분의 운전자에게 급발진은 공포 그 자체입니다. 급발진 차량의 블랙박스 영상을 한 번이라도 보고 나면 한동안 급발진을 막는 운전습관은 무엇일지 한참 고민하게 되죠. 하지만 구체적으로 급발진이 어떤 상황에서 일어났는지 살펴보면 개인이 사고 순간에 침착하게 대처하기는 힘들다는 결론을 얻게 됩니다. 뒤이어 차쓸신잡 6편에서 급발진 사고 당시 상황을 좀 더 자세히 살펴보겠습니다. </p>
				<p class="article-txt">6편으로 고고!</p>
			
				<div class="action"> <a class="btn btn-tips" href="#">목록보기</a></div>
			</section>
		</div>
	</div>
</div> 
{% endblock %}