<div class="searchbar">
    <div>
        <form action="/search" method="get" autocomplete="off">
            <input class="q" name="q" placeholder="싼타페 2012" value="{{ q }}"/>
            <button class="btn-submit">검색</button>
        </form>
    </div>
    <div>
        <ul class="autocomplete dropdown" tabindex="0"></ul>
    </div>
    <div class="examples">
        <ul>
            <li><a href="/search?q=스포티지+2012">2012 스포티지</a></li>
            <li><a href="/search?q=코나+2018">2018 코나</a></li>
            <li><a href="/search?q=S+클래스">벤츠 S 클래스</a></li>
        </ul>
    </div>
</div>
