<div class="search">
    <div class="container">
        <div>
            <form action="/search" method="get">
                <input class="q" name="q" placeholder="2012 싼타페" value="{{ q }}"/>
                <input class="btn-submit" type="submit" value="검색">
            </form>
        </div>
        <!--<div class="example">-->
            <!--<ul>-->
                <!--<li>싼타페 2014</li>-->
                <!--<li>쏘나타 2012</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>
